body {
background-color: #f5e10a; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.menu {
  font-family: Georgia;
}
hr {
  height: 5px;
  background-color: black;
  border-color:black;
}
.Boat_homepage_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
  To center an image use the code below:
  display: block;
  margin-left: auto;
  margin-right: auto;
  DON'T FORGET PARENTHESIS "{}" AT THE END 
*/
h1,
h2 {
  text-align: center;
}

.reviews {
    display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.terminator1background {
  background-color: white;
  border-radius: 25px;
  width: 400px;
  height: 200px;
  text-align: right;
  margin-left: auto;

}
.reviewimg {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 20px;

}


.terminator2background {
  background-color: white;
  border-radius: 25px;
  width: 400px;
  height: 200px;
  text-align: right;
}

.starwarsbackground {
  background-color: white;
  border-radius: 25px;
  width: 400px;
  height: 200px;
  text-align: right;
}
p {
  text-align: center;
}
.review-content {
  margin: 0 0 10px 0;
  font-style: Georgia;
  position: relative;
} 

.name {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 17px;
}
.review {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

 